* {
    margin: 0px;
    padding: 0px;
    outline: none;
}

body {
    font-family: Roboto, Arial, sans-serif;
    background-image: url("/src/assets/bg1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    border: 2px solid rgb(73, 36, 236);
    background-color: white;
    width: 34%;
    margin: 39px auto;
    box-shadow: 0 0 20px #645d5d;
    border-radius: 22px;
    margin-bottom: 25px;
}

form {
    width: 80%;
    margin: 20px auto;
}

.item {
    margin: 20px 0px;
}

.inpt {
    display: block;
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.inpt:hover {
    border: 1px solid blue;
    box-shadow: 0 0 3px 0 #669999;
}

.date {
    display: inline-block;
    width: 40%;
}

.banner {
    margin: 10px 0px;
}

#noAdd91 {
    width: 8%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#phone {
    width: 78.5%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#phone:hover {
    border: 1px solid blue;
    box-shadow: 0 0 3px 0 #669999;
}

span {
    color: red;
}

#error {
    color: red;
    font-size: 78%;
}

#SelectClass {
    width: 24%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#SelectClass:hover {
    border: 1px solid blue;
    box-shadow: 0 0 3px 0 #669999;
}


#btn {
    border-radius: 8px;
    background-color: #353bff;
    padding: 8px;
    width: 51%;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    color: white;
    cursor: pointer;
}

#btn:hover {
    background-color: #1015b1;
}